/* shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
section{
    margin-bottom: 150px; 
}
.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.flower-section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 0px;
}
.flower-section-description{
    color: #757575;
    text-align: center;
    font-size: 12px;
}
/* header styles */
header{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 50px 80px 0px 200px;
    height: 500px;
    margin-bottom: 120px;
}
.flower-banner-content h1{
    color: #272727;
    font-size: 50px;
    font-weight: 700;
    line-height: 100%;
}
.flower-banner-content p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;  
}
.flower-banner-images{
    width: 50%;
}
.flower-banner-images img{
    height: 100%;
}
/* feature flowers */
#featured-flower-description{
    margin: 20px 455px;
}
.featured-container{
    display: flex;
    gap: 30px;
    margin-left: 55px;
    height: 465px;
    margin-top: 40px;
}
.featured-container img{
    height: 100%;
}
.featured-container h6{
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
}
.features{
    padding: 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
/* product delivery */
.product-delivery-item{
    display: flex;
    max-width: 50%;
    margin-left: 300px; 
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 30px;
}
.products-item{
    padding-left: 20px;
}
.products-item img{
    margin-left: 70px;
    width: 35px;
}
.products-item img:nth-child(3n){
    margin-right: 100%;
}
.products-item p{
    font-size: 12px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-weight: 600;
}
.products-item:nth-child(3n){
    margin-left: 80px;
}
.products-item:nth-child(2n){
    margin-left: 50px;
}
/* deal styles*/
.flower-deal{
    width: 1922px;
    height: 620px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 150px 250px;
}
.deals{
    width: 30%;
}
.deals h2{
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    line-height: normal;    
}
.deals p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    margin-right: 26px;
}
.deals-image{
    width: 30%;
    
}